
.bgImg{
    background-image: url("img/bgcImg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background: opacity 0.5;
    background: filter alpha(opacity =50);
}

.select-color{
    color: #074085;
}

.selection-color {
    color: lightblue;
}


